{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    
    <h2 class="archive__item-title" itemprop="headline">{{ title }}</h2>

    {% if post.authors %}
      <p class="archive__item-authors">{{ post.authors }}</p>
    {% endif %}
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p class="archive__item-summary">{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
        {% elsif post.collection == 'publications' %}
          {% if post.citation %}
            <p class="archive__item-summary">{{ post.citation }}</p>
          {% endif %}
          <!-- Download links commented out
          {% if post.citation and post.paperurl and post.slidesurl and post.bibtexurl %}
            <p class="archive__item-summary">{{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
          {% elsif post.citation and post.paperurl and post.slidesurl %}
            <p class="archive__item-summary">{{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a></p>
          {% elsif post.citation and post.paperurl and post.bibtexurl %}
            <p class="archive__item-summary">{{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
          {% elsif post.citation and post.paperurl %}
            <p class="archive__item-summary">{{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a></p>
          {% elsif post.citation and post.slidesurl and post.bibtexurl %}
            <p class="archive__item-summary">{{ post.citation }}<br /><a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl}}">Download Bibtex</a></p>
          {% elsif post.citation and post.slidesurl %}
            <p class="archive__item-summary">{{ post.citation }}<br /><a href="{{ post.slidesurl }}">Download Slides</a></p>
          {% elsif post.citation and post.bibtexurl %}
            <p class="archive__item-summary">{{ post.citation }}<br /><a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
          {% elsif post.citation %}
            <p class="archive__item-summary">{{ post.citation }}</p>
          {% elsif post.paperurl and post.bibtexurl %}
            <p class="archive__item-summary"><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
          {% elsif post.paperurl %}
            <p class="archive__item-summary"><a href="{{ post.paperurl }}">Download Paper</a></p>
          {% elsif post.slidesurl and post.bibtexurl %}
            <p class="archive__item-summary"><a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
          {% elsif post.slidesurl %}
            <p class="archive__item-summary"><a href="{{ post.slidesurl }}">Download Slides</a></p>
          {% elsif post.bibtexurl %}
            <p class="archive__item-summary"><a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
          {% endif %}
          -->
        {% elsif post.date %}
          <p class="archive__item-summary"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.conference_presentations %}
      <p class="archive__item-summary">Conference Presentations:
        {% if post.conference_presentations.first %}
          {% for pres in post.conference_presentations %}<i>{{ pres }}</i>{% unless forloop.last %}, {% endunless %}{% endfor %}
        {% else %}
          <i>{{ post.conference_presentations }}</i>
        {% endif %}
      </p>
    {% endif %}

    {% if post.abstract %}
      <details class="archive__item-abstract">
        <summary>Abstract</summary>
        <div class="archive__item-abstract-body">{{ post.abstract | markdownify }}</div>
      </details>
    {% endif %}

  </article>
</div>
